<div class="drak-light">
  <i class="bx bx-moon moon"></i>
  <i class="bx bx-sun sun"></i>
</div>
<script>
  const body = document.querySelector("body"),
    modeToggle = document.querySelector(".drak-light");

  modeToggle.addEventListener("click", () => {
    modeToggle.classList.toggle("active");
    body.classList.toggle("dark");
    if (!body.classList.contains("dark")) {
      localStorage.setItem("mode", "light-mode");
    } else {
      localStorage.setItem("mode", "dark-mode");
    }
  });
</script>
