<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %> 
    <link rel="stylesheet" href="/dashboard.css" />
    
    
    <!-- <p style="color: pink;">Welcome To the User Dashboard</p> -->

    <div class="video-items-container">
        <h2 class="message"></h2>
    </div>
    <%- include('./partials/darkmode.ejs') %> 
<script src="/dashboard.js"></script>